
/********** RESET ***********/
/********** MOBILE SIZE ***********/
*{
    box-sizing: border-box;
    color: #000;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 200;
    background-color: 
}
/********** FONT SIZES AND STYLES ***********/

}
section h1 span {
font-size: 20px;
}

section h1 a{
    text-decoration: none;
    color: rgba(255,255,255, 1);
    font-weight: 200;
    text-transform:;
    padding: 10px;
    font-size: 0.8em;
    position: absolute;
    /*For centering */
    top: 331.5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 6000;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
}

section h1 a:hover {
    color: rgba(255,255,255, 0.7);
}

.slider {
    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    cursor: pointer;
    margin: 0 auto;

}
.click {
    margin: 0 auto;
}
#arrow {
    opacity: 0.5;
    display: block;
    height: 20px;
    width: auto;
    margin: 0 auto;
}

#arrow:hover {
    opacity: 1;
}


.hidden h1, .hidden p {
    color: white;
}
.hidden p {
    border-left: 3px solid white;
    padding: 20px;
    margin: 20px;
}


.hidden{

    display: none;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    position: absolute;
    top:20px;
    color: #fff;
    width: 100%;

}

.content h2 {
   
    margin:20px 0 20px; 0;
    padding: 10px 10px;
    text-align: center;
    color: #B38DB0;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.5em;
    text-shadow: 3px 2px 0px rgba(150, 150, 150, 0.2);
}

.content p {
    font-size: 1em;
    padding: 10px 0px 20px 10px;
    text-align: left;
    margin: 0px 0;
    border-left: 10px solid rgb(141, 111, 153);
    border-top: 1px solid rgb(141, 111, 153);
}

.slide h3 {
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    color:#5A4F61;
    text-shadow: 2px 1px 0px rgba(150, 150, 150, 0.2);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 40px 60px -40px rgba(0,0,0,0.5);
    height: 300px;
    letter-spacing: 1px;
}



.table_3 h3 span {
    color: rgb(154, 0, 13);
    font-weight: 600;
}
.table_4 h3 span {
    color: rgb(0, 36, 137);
    font-weight: 600;
}
.table_5 h3 span {
    color: rgb(255,255,255);
    font-weight: 600;
}
.table_6 h3 span {
    color: rgb(40, 40, 40);
    font-weight: 600;
}



/******** NAV *********/

nav .container {
    display: flex;
}

nav {
    height: 80px;
    background: #FFF;
    z-index: 4000;
    width: 100%;
    border-bottom: 5px solid rgb(141, 111, 153);
}

#logo {
    height: 50px;
    margin: auto;
}



/********** NAV MENU STYLING **********/

/* Dropdown Button */
.dropbtn, .dropbtn:active{
    background-color: #FFFFFF  ;
    color: #674679;
    padding: 5px 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    height: 80px;
    border-bottom: 5px solid rgb(141, 111, 153);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #674679;
    color: #FFF;
    text-decoration: none;
    border-bottom: 5px solid rgb(255, 255, 255);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 250px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #210332;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    border-top: 0.5px solid rgb(141, 111, 153);
    font-size: 1em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/******** SIZING MAIN CONTAINER *********/

section .container {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: auto;
    /* BOX SHADOW UNDER MAIN PHOTO */
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
   }

/* MAIN PHOTO */

.photo {
    background: 
     linear-gradient(to bottom, rgba(141, 111, 153,0.6), rgba(255,255,255, 0)),
    url('kobieta1.jpeg') no-repeat top right 75%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    -webkit-box-shadow: inset -1px -200px 0px -100px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -200px 0px -100px rgba(0,0,0,0.75);
    box-shadow: inset -1px -200px 0px -150px rgba(0,0,0,0.75);
}

.table_1 {
    height: auto;
    width: 100%;   
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    margin: 0px 0 0px 0;
}
.table_1_1 {
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    margin: 0px 0 100px 0;
}

/******** PRODUCT IMAGES SIZING AND SHADOW ********/

 .table_3 {
    background: url('bio_hyalux_lips.jpg') no-repeat center center;
}

.table_4 {
    background: url('bio_hyalux_fine_lines.jpg') no-repeat center center;
}
.table_5 {
    background: url('bio_hyalux_soft.jpg') no-repeat center center;
    }

.table_6 {
    background: url('bio_hyalux_deep.jpg') no-repeat center center;
}

.table_3, .table_4, .table_5, .table_6 {
    background-size: 90%;
    height: 400px;
    width: 100%;
    -webkit-box-shadow: inset 0px 90px 0px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 90px 0px -9px rgba(0,0,0,0.2);
    box-shadow: inset 0px 90px 0px -9px rgba(0,0,0,0.1);
    position: relative;
}



#lips, #fine, #basic, #deep, p{
    font-size: 1em;
    padding-left: 15px;
    text-align: left;
    margin:0px 20px  80px 30px;
}
#lips {
     border-left: 5px solid rgb(154, 0, 13);
}


#fine {
    
    border-left: 5px solid rgb(0, 36, 137);
}

#basic {

    border-left: 5px solid rgb(220,220,220);
}

#deep {

    border-left: 5px solid rgb(40, 40, 40);
}

/****** SLIDING BOXES ******/
.come-in {
  transform: translateY(300px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

@media only screen and (min-width: 768px){

nav {
    z-index: 5000;
    position: fixed;

}
nav .container {
    border-bottom: 5px solid rgb(141, 111, 153);
    background: #FFF;
    width: 100%;
    display: inline-flex;
    height: 80px;
    flex-direction: row;
}
.dropbtn, .dropbtn:active{
    display: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    display: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: initial;
    width: 100%;
    height: auto;
    }

/* Dropdown Content (Hidden by Default) */
div#myDropdown.dropdown-content {

    position: initial;
    display: inline-flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    align-items: stretch;
    box-shadow: none;
    border-bottom: 5px solid rgb(141, 111, 153);
}

/* Links inside the dropdown */
.dropdown-content a {
    flex: 1 1 auto;
    color: #210332;
    text-decoration: none;
    border: none;
    font-size: 1.125em;
    padding: none;
    line-height: 3em;
}
.dropdown-content a:hover {
    border-bottom: 5px solid #FFF;
    background-color: rgba(141, 111, 153, 0.5);
    height: 80px;
    color: white;
}
#logo {
    flex: 1 1 auto;
    order: -1;
    padding: 0 20px;
 
}
section .container {
    width: 100%;
}
.photo {
    margin-top: 80px;
    height:550px;
}

section h1 a{
    top: 574px;
    font-size: 1.325em
}

#czym {
    width: 100%;
    margin: 0 auto;

    }
    .content {display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
    width: 100%;
    justify-content: space-between;

    }

.table_1 {
    border: none;
    height: 300px;
}
.table_1_1 {
    border: none;
}
.table_1, .table_1_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.content h2 {
   margin:0;
   padding:10px 0;
    text-align: center;
    color: #674679;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.5em;
    text-shadow: 1px 2px 0px rgba(150, 150, 150, 0.48);
}
.content p {

border-left: 1px solid rgba(150, 150, 150, 0.48);
    margin: 0;
    padding: 10px;
    min-width: 100%;
}
.table_1, .table_1_1 {
    flex: 1 1 auto;
    height: auto;
    margin: 5%;
    padding:0;

}
.content {
    padding: 30px 0;
    border-bottom: 1px solid rgba(107,68,123, 0.7);
     -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
box-shadow: 0px 40px 60px -40px rgba(0,0,0,0.5);
}
footer {
    height:80px;
    width: 100%;
    background-color: rgba(107,68,123, 0.7);
}
    

#produkty {

    padding: 10% 0;
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.come-in {
  transform: translateY(300px);
  animation: come-in 2s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 2s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}


.table_3, .table_4, .table_5, .table_6, p {
    flex: 1 1 auto;
    max-width: 44%;
    background-size: 60%;
    padding: 0;
    margin: 0;
    
}
 p{
    max-width: 44%;
    margin-bottom: 100px;
    padding: 0;
}
#lips, #fine, #basic, #deep, p {
    margin:0 0 100px 0;
    padding: 0 0 0 30px;
    font-size: 1.125em;
}
.table_3 {
    order: 1;
}
#lips {
    order: 3;
}
.table_4 {
    order: 2;
}
#fine { order: 4 ;
}
.table_5 { order: 5;
}
.table_6 {order: 6;}
#basic { order: 7;}
#deep {order: 8;}
}

@media only screen and (min-width: 1377px){

nav {
    z-index: 5000;
    position: fixed;

}
nav .container {
    border-bottom: 5px solid rgb(141, 111, 153);
    background: #FFF;
    width: 100%;
    display: inline-flex;
    height: 80px;
    flex-direction: row;
}
.dropbtn, .dropbtn:active{
    display: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    display: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: initial;
    width: 100%;
    height: auto;
    }

/* Dropdown Content (Hidden by Default) */
div#myDropdown.dropdown-content {

    position: initial;
    display: inline-flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    align-items: stretch;
    box-shadow: none;
    border-bottom: 5px solid rgb(141, 111, 153);
}

/* Links inside the dropdown */
.dropdown-content a {
    flex: 1 1 auto;
    color: #210332;
    text-decoration: none;
    border: none;
    font-size: 1.125em;
    padding: none;
    line-height: 3em;
}
.dropdown-content a:hover {
    border-bottom: 5px solid #FFF;
    background-color: rgba(141, 111, 153, 0.5);
    height: 80px;
    color: white;
}
#logo {
    flex: 1 1 auto;
    order: -1;
    padding: 0 20px;
 
}
section .container {
    width: 80%;
}
.photo {
    margin-top: 80px;
    height:800px;
}

section h1 a{
    top: 824px;
    font-size: 1.325em
}

#czym {
    width: 100%;
    margin: 0 auto;

    }
    .content {display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
    width: 100%;
    justify-content: space-between;

    }

.table_1 {
    border: none;
    height: 300px;
}
.table_1_1 {
    border: none;
}
.table_1, .table_1_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.content h2 {
   margin:0;
   padding:10px 0;
    text-align: center;
    color: #674679;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.5em;
    text-shadow: 1px 2px 0px rgba(150, 150, 150, 0.48);
}
.content p {

border-left: 1px solid rgba(150, 150, 150, 0.48);
    margin: 0;
    padding: 10px;
    min-width: 100%;
}
.table_1, .table_1_1 {
    flex: 1 1 auto;
    height: auto;
    margin: 5%;
    padding:0;

}
.content {
    padding: 30px 0;
    border-bottom: 1px solid rgba(107,68,123, 0.7);
     -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
box-shadow: 0px 40px 60px -40px rgba(0,0,0,0.5);
}
footer {
    height:80px;
    width: 100%;
    background-color: rgba(107,68,123, 0.7);
}
    

#produkty {

    padding: 10% 0;
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.come-in {
  transform: translateY(300px);
  animation: come-in 2s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 2s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}


.table_3, .table_4, .table_5, .table_6, p {
    flex: 1 1 auto;
    max-width: 44%;
    background-size: 60%;
    padding: 0;
    margin: 0;
    
}
 p{
    max-width: 44%;
    margin-bottom: 100px;
    padding: 0;
}
#lips, #fine, #basic, #deep, p {
    margin:0 0 100px 0;
    padding: 0 0 0 30px;
    font-size: 1.125em;
}
.table_3 {
    order: 1;
}
#lips {
    order: 3;
}
.table_4 {
    order: 2;
}
#fine { order: 4 ;
}
.table_5 { order: 5;
}
.table_6 {order: 6;}
#basic { order: 7;}
#deep {order: 8;}
}
